/* Reset básico */
.titulo {
    margin: 0;
    padding: 0;
    
  }
  .Menor{
    margin:0;
    padding: 0;
}
  /* Fixar o menu no topo */
  .top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background-color: lightblue;
    z-index: -1;
    height: 80px;
    padding-right: 20px;
    
  
    
  }
  
  /* Estilo dos links no menu */
  .menu-link {
    padding: 15px 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    
    
    
  }
  
 